@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap&text=UppsalaTechMap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin: 0 0 1.45rem 0;
  padding: 0;
}

h1 {
  margin: 0 0 1.45rem 0;
  padding: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin: 0 0 1.45rem 0;
  padding: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3, h4, h5, h6 {
  margin: 0 0 1.45rem 0;
  padding: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

p {
  margin: 0 0 1.45rem 0;
  padding: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}

a:active,
a:hover {
  outline-width: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.card {
  border-radius: 4px;
  padding: 3rem;
  background: white;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.card::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover::after,
.card:hover::before {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.name {
  line-height: 1.3em;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-family: 'B612 Mono';
  text-decoration: none;
  color: #2f2f2f;
  border-bottom: 2px solid #d9d9d9;
}

.jobs_url {
  font-size: 0.8rem;
  color: #7481e1;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
